<div class="splash_holder">
  <h2 class=" blue-grey-text" ><i>Budget</i> <br>
    <i>Managment</i></h2>
  <div class="splash_button_holder">
    <button class="waves-effect btn-large light-blue darken-3 btn-flat">
      <%= link_to "Sign In", new_user_session_path, class:'white-text'  %>
    </button>
    <button class="waves-effect btn-large white btn-flat" >
      <%= link_to  "Sign Up", new_user_registration_path, class:' blue-grey-text ' %>
    </button class="">
  </div>
</div>
