<div>
  <h1>BUDGET <br>
    MANAGEMENT</h1>
  <div>
    <button>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
    </button>
    <button>
      <%= link_to "Sign In", new_user_session_path, class: "btn btn-primary" %>
    </button>
  </div>
</div>
